<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">


</head>
<body>
<img src="/banner/vp_banner_2024.png"alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
 <h1>Aleksandra </h1>
 

<p>See leht loodus õppetöö raames <a href= "https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

<p> loodan et kõik töötab <br>
webprogrameerimine äge asi <br>
Esimest korda teen seda

</p>
<hr>
<h2>Eesti film</h2>
<ul>
<li><a href="/">Avaleht</a></li>
<li><a href="/eestifilm/tegelased">Eesti filmitegelased</a></li>
</ul>
<hr>


</body>
</html>