<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">


</head>
<body>
<img src="/banner/vp_banner_2024.png"alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
 <h1>Alina Rohozinska</h1>
 

<p>See leht loodus õppetöö raames <a href= "https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

<p> loodan et kõik töötab <br>
webprogrameerimine äge asi <br>
Esimest korda teen seda
<p>
	2.septembrist moodunud <%= locals.dateDifference %> päevad.
</p>
<h2>Kõige viimane uudis</h2>
<ul>
	<h3><%= locals.newsTitle %></h3>
	<p>Lisatud on: <%= locals.newsDate %></p>
	<p><%= locals.newsDesc %></p>
  </ul>

</p>
<hr>
<ul>
<li><a href="/logout">Logi välja</a></li>
<li><a href="/eestifilm">Eesti film</a></li>
<li><a href="/visitlogdb">Külastuste logi (DB) </a></li>
<li><a href="/3vorm">Lisa</a></li>
<li><a href="/news">Uudised</a></li>
<li><a href="/photoupload">Lea üles galeriipilt</a></li>
<li><a href="/gallery">Fotogalerii avalikest piltidest</a></li>

</body>
</html>