<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">


</head>
<body>
<img src="/banner/vp_banner_2024.png"alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
 <h1>Alina Rohozinska</h1>
 

<p>See leht loodus õppetöö raames <a href= "https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

<p>Huvitavad uudised ainult siin
</p>
<hr>
<ul>
<li><a href="/">Avaleht</a></li>
</ul>
<hr>
<ul>
  <% listData.forEach(function(item){ %>
  <h3><%= item.news_title %></h3>
  <p>Lisatud on: <%= item.news_date %></p>
  <p><%= item.news_text %></p>
  <% }); %>
</ul>

</body>
</html>