<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Külastuste logi</title>
</head>
<body>
    <img src="/banner/vp_banner_2024.png" alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
    <h1>Aleksandra</h1>

    <p>See leht loodus õppetöö raames <a href="https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

    <h2>Külastuste logi</h2> 
    <hr>
   <ul><% visitData.forEach(function(visit) { %>
            <li><%= visit.first_name %> <%= visit.last_name %> külastas ajal: <%= visit.visit_time %></li>
        <% }); %>
   </ul>
	
        <li><a href="/">Avaleht</a></li> 
        <li><a href="/regvisitdb">Registreeri oma külastus</a></li> 
        <li><a href="/timenow">Ajainfo</a></li>
        <li><a href="/vanasõnad">Vanasõnad</a></li> 
    </ul>
</body>
</html>
